@import '~bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss';
@import '~css/variables.scss';
@import '~css/mixins.scss';

.splash {
  height: 100%;

  :global(.container-fluid) {
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

  :global(.well) {
    margin-top: $grid-gutter-width * 2;
    margin-bottom: 100px;
    max-width: 500px;
  }
  label {
    font-size: 16px;
    padding-bottom: 5px;
  }
  hr {
    border-color: #e3e3e3;
    margin-left: -25px;
    margin-right: -25px;
  }
  :global(.btn-lg.btn-link) {
    padding-top: 15px;
    padding-bottom: 15px;
    text-transform: uppercase;
  }
}
